#style-text{
    color: #FFF;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.input-edit{
    margin-left: 10px;
    height: 30px;
    margin-top: 5px;
}

.buttons{
    display: flex;
  }
  
.buttons-edit{
    width: 150px;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}